.trending-container{
    margin-top: 5rem;
    margin-left:0;
    padding:0;
}

.trending-list{
    width:100%;
    list-style:none;

}

.trending-list li{
    dispalay:block;
    float:left;
    width:20%;
    cursor:pointer;
}

.contain{
    object-fit:cover;
    width:100%;
    height:50%;
}

.cardPhoto{
    margin:0;
    overflow: hidden;
    background-color: #000;
}